<form action="/todos/new" method="POST" style="display:inline">
  <div class="input-group">
    <input class="form-control" type="text" name="name" placeholder="Enter your todo">
    <button type="submit" class="btn btn-success">create</button>
  </div>
</form>